<div id="<%= dom_id random_table %>">
  <p>
    <strong>Name:</strong>
    <%= random_table.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= random_table.description %>
  </p>

  <p>
    <strong>Die:</strong>
    <%= random_table.die %>
  </p>

</div>
