<p style="color: green"><%= notice %></p>

<% content_for :title, "Random tables" %>

<h1>Random tables</h1>

<div id="random_tables">
  <% @random_tables.each do |random_table| %>
    <%= render random_table %>
    <p>
      <%= link_to "Show this random table", random_table %>
    </p>
  <% end %>
</div>

<%= link_to "New random table", new_random_table_path %>
