<% content_for :title, "New random table option" %>

<h1>New random table option</h1>

<%= render "form", random_table_option: @random_table_option %>

<br>

<div>
  <%= link_to "Back to random table options", random_table_options_path %>
</div>
